In [108]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
from datetime import datetime
#from tabulate import tabulate

In [105]:
#Web Scraping - https://pythonprogramminglanguage.com/web-scraping-with-pandas-and-beautifulsoup/

res = requests.get("http://www.fedearroz.com.co/new/precios.php")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
#print( tabulate(df[0], headers='keys', tablefmt='psql') )

In [151]:
#Data Wrangling
arroz=df[0]
arroz.columns = arroz.iloc[0]
arroz = arroz.set_index(['Mes'])
arroz = arroz.drop(['Mes'])
arroz = arroz.rename(index={'Enero': '1', 
                            'Febrero': '2', 
                            'Marzo': '3', 
                            'Abril': '4', 
                            'Mayo': '5',
                            'Junio': '6',
                            'Julio': '7',
                            'Agosto': '8',
                            'Septiembre': '9',
                            'Octubre': '10',
                            'Noviembre': '11',
                            'Diciembre': '12'})
arroz = arroz.reset_index()
arroz = pd.melt(arroz, id_vars=['Mes'],var_name='Year',value_name='Price')
arroz = arroz.rename(columns={'Mes': 'Month'})
arroz['Year'] = arroz['Year'].astype(int)
arroz['Month'] = arroz['Month'].astype(int)
arroz = arroz.dropna()

In [152]:
#arroz['Date'] = arroz.apply(lambda row: datetime(row['Year'], row['Month'],1, axis=1))
arroz

     Month  Year      Price
0        1  2010   817456.0
1        2  2010   884395.0
2        3  2010   796473.0
3        4  2010   787395.0
4        5  2010   803395.0
5        6  2010   853903.0
6        7  2010   797759.0
7        8  2010   816705.0
8        9  2010   848036.0
9       10  2010   874151.0
10      11  2010   912433.0
11      12  2010   913669.0
12       1  2011   918571.0
13       2  2011   939010.0
14       3  2011   963438.0
15       4  2011   987905.0
16       5  2011  1059719.0
17       6  2011   902833.0
18       7  2011   855557.0
19       8  2011   927400.0
20       9  2011   977519.0
21      10  2011  1027824.0
22      11  2011  1014633.0
23      12  2011   940119.0
24       1  2012   953429.0
25       2  2012   986571.0
26       3  2012  1022133.0
27       4  2012  1097257.0
28       5  2012  1111900.0
29       6  2012  1117714.0
..     ...   ...        ...
74       3  2016  1310857.0
75       4  2016  1180000.0
76       5  2016  1095143.0
77       6  2016  1078429.0
78       7  2016  1084429.0
79       8  2016  1084286.0
80       9  2016  1058286.0
81      10  2016  1064000.0
82      11  2016  1072857.0
83      12  2016  1046286.0
84       1  2017  1051036.0
85       2  2017  1055286.0
86       3  2017  1058143.0
87       4  2017  1003071.0
88       5  2017   991679.0
89       6  2017   957339.0
90       7  2017   917229.0
91       8  2017   896971.0
92       9  2017   895143.0
93      10  2017   888857.0
94      11  2017   877429.0
95      12  2017   864571.0
96       1  2018   875371.0
97       2  2018   895089.0
98       3  2018   910929.0
99       4  2018   919643.0
100      5  2018   944357.0
101      6  2018   950000.0
102      7  2018   936536.0
103      8  2018   925381.0

[104 rows x 3 columns]

In [147]:
arroz.describe()

            Month         Year         Price
count  104.000000   104.000000  1.040000e+02
mean     6.346154  2013.846154  9.967989e+05
std      3.435308     2.518935  1.422546e+05
min      1.000000  2010.000000  7.873950e+05
25%      3.000000  2012.000000  9.000288e+05
50%      6.000000  2014.000000  9.395645e+05
75%      9.000000  2016.000000  1.079536e+06
max     12.000000  2018.000000  1.441714e+06