In [67]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
#from tabulate import tabulate

In [105]:
#Web Scraping - https://pythonprogramminglanguage.com/web-scraping-with-pandas-and-beautifulsoup/

res = requests.get("http://www.fedearroz.com.co/new/precios.php")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
#print( tabulate(df[0], headers='keys', tablefmt='psql') )

In [106]:
#Data Wrangling
arroz=df[0]
arroz.columns = arroz.iloc[0]
arroz = arroz.set_index(['Mes'])
arroz = arroz.drop(['Mes'])
arroz = arroz.rename(index={'Enero': 'January', 
                            'Febrero': 'February', 
                            'Marzo': 'March', 
                            'Abril': 'April', 
                            'Mayo': 'May',
                            'Junio': 'June',
                            'Julio': 'July',
                            'Agosto': 'August',
                            'Septiembre': 'September',
                            'Octubre': 'October',
                            'Noviembre': 'November',
                            'Diciembre': 'December'})
arroz.columns = arroz.columns.astype(np.int64)
arroz = arroz.reset_index()
arroz = pd.melt(arroz, id_vars=['Mes'],var_name='Year',value_name='Price')
arroz = arroz.rename(columns={'Mes': 'Month'})
arroz = arroz.dropna()

In [104]:
arroz

         Month  Year      Price
0      January  2010   817456.0
1     February  2010   884395.0
2        March  2010   796473.0
3        April  2010   787395.0
4          May  2010   803395.0
5         June  2010   853903.0
6         July  2010   797759.0
7       August  2010   816705.0
8    September  2010   848036.0
9      October  2010   874151.0
10    November  2010   912433.0
11    December  2010   913669.0
12     January  2011   918571.0
13    February  2011   939010.0
14       March  2011   963438.0
15       April  2011   987905.0
16         May  2011  1059719.0
17        June  2011   902833.0
18        July  2011   855557.0
19      August  2011   927400.0
20   September  2011   977519.0
21     October  2011  1027824.0
22    November  2011  1014633.0
23    December  2011   940119.0
24     January  2012   953429.0
25    February  2012   986571.0
26       March  2012  1022133.0
27       April  2012  1097257.0
28         May  2012  1111900.0
29        June  2012  1117714.0
..         ...   ...        ...
74       March  2016  1310857.0
75       April  2016  1180000.0
76         May  2016  1095143.0
77        June  2016  1078429.0
78        July  2016  1084429.0
79      August  2016  1084286.0
80   September  2016  1058286.0
81     October  2016  1064000.0
82    November  2016  1072857.0
83    December  2016  1046286.0
84     January  2017  1051036.0
85    February  2017  1055286.0
86       March  2017  1058143.0
87       April  2017  1003071.0
88         May  2017   991679.0
89        June  2017   957339.0
90        July  2017   917229.0
91      August  2017   896971.0
92   September  2017   895143.0
93     October  2017   888857.0
94    November  2017   877429.0
95    December  2017   864571.0
96     January  2018   875371.0
97    February  2018   895089.0
98       March  2018   910929.0
99       April  2018   919643.0
100        May  2018   944357.0
101       June  2018   950000.0
102       July  2018   936536.0
103     August  2018   925381.0

[104 rows x 3 columns]